input.inputfield{
	width: 40px;
}

textarea{
    width: 80%;
}

@media screen and (max-width: 480px){
    textarea{
        width: 90%;
        font-size: 100%;
    }
    input{
        font-size: 100%;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}