input.inputfield{
	width: 40px;
}

textarea{
    width: 80%;
}

#saveBtn{
    top: 10px;
    right: 10px;
    position: fixed;
    display: inline-block;
    text-decoration: none;
    background: #2c8eff;
    color: #FFF;
    width: 80px;
    height: 80px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}

#saveBtn:hover {
    background: #0051ff;
}

@media screen and (max-width: 480px){
    textarea{
        width: 90%;
        font-size: 100%;
    }
    input{
        font-size: 100%;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: white;
    width: 500px;
    margin: 40% auto;
}